{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% load static %}
{% load staticfiles %}

{% block content %}


<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>


{% if user.is_authenticated %}

    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-offset-2 is-8">
                    <form method="POST">
                        {% csrf_token %}
                        <div class="field has-addons">
                            <div class="control is-expanded">
                                {{ form.city_name }}
                            </div>
                            <div class="control">
                                <button class="button is-info">
                                    Add City
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>



    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-offset-2 is-8">

                    {% for city_weather in weather_data %}

                    <div class="box" style="background-color:#eaf1f3;">
                        <article class="media">
                            <div class="media-left">
                                <figure class="image is-70x70">
                                    <img src="https://openweathermap.org/img/w/{{ city_weather.icon }}.png" alt="Image">
                                </figure>
                            </div>
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        <span class="title">
                                            {{ city_weather.city }}
                                            <img src="{% static '/flags/1x1/'|add:city_weather.iso %}" class="img-rounded" alt="flag" style="width:20;height:20px;">
                                        </span>
                                        <br>
                                        <span class="subtitle">{{ city_weather.temperature }}°C </span>
                                        <span class="subtitle" style="font-size:90%;">Humidity: {{ city_weather.humidity }}% </span>
                                        <span class="subtitle" style="font-size:90%;">Wind Speed: {{ city_weather.wind_speed }} km/h</span>


                                        <br> {{ city_weather.description }}
                                    </p>
                                </div>
                            </div>

                            <div class="media-right">
                                <a href="{% url 'delete_city' city_weather.city %}">
                                <button class="delete"></button>
                                </a>
                            </div>

                        </article>
                    </div>

                    {% endfor %}


                </div>
            </div>
        </div>
    </section>

{% else %}



<div class="container prelogin-title"  align="center">
    <h1><blink><a style="color: #3271a8;"  href="{% url 'login' %}">Login to Watch the Weather</a></blink></h1>
</div>


{% endif %}


<script>
  //If you want to change it dynamically
  function toggleOn() {
    $('#toggle-trigger').bootstrapToggle('on')
  }
  function toggleOff() {
    $('#toggle-trigger').bootstrapToggle('off')
  }
  //if you want get value
  function getValue()
  {
   var value=$('#toggle-trigger').bootstrapToggle().prop('checked');
   console.log(value);
  }
</script>



{% endblock content %}