{% extends "base.html" %}
{% load crispy_forms_tags %}

{% load static %}
{% load staticfiles %}

{% block content %}


    <div class="columns">
        <div class="column is-offset-0 is-12">

                <article class="media">
                    <div class="media-left column is-offset-2 is-8">

                        <span class="title" style="top:100%;">
                            Current location: {{ location }}
                            {% if country_flag != 'None' %}
                                <img src="{% static '/flags/1x1/'|add:country_flag %}" class="img-rounded" alt="flag" style="width:20;height:20px;">
                            {% endif %}
                        </span>

                    </div>
                </article>

        </div>
    </div>

    <div class="media-section">
      <div class="media">
        <div class="media-body">
            <div class="column is-offset-2 is-8">
                <legend class="border-bottom mb-3" >{{ user.first_name }} {{ user.last_name }}</legend>
            <p>Username: {{ user.username }} </p>
            <p>Email: {{ user.email }}</p><br>

            </div>
        </div>
      </div>


      <div class="column is-offset-2 is-8">
      <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-3">Profile Info</legend>
            {{ u_form.media }}
            {{ p_form.media }}

            {{ u_form|crispy }}
            {{ p_form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Update</button>

            <small class="text-muted">
                <a href="{% url 'change_password' %}">Change password</a>
            </small>

        </div>
      </form>
      </div>

    </div>
{% endblock content %}