{% extends "base.html" %}
{% load crispy_forms_tags %}

{% load static %}
{% load staticfiles %}

{% block content %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css" />

    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-offset-2 is-6">

                    <div class="box">
                        <article class="media">
                            <div class="media-left">

                                <span class="title" style="font-size:25px;">
                                    Your current location: {{ location }}
                                    {% if country_flag != 'None' %}
                                    <img src="{% static '/flags/1x1/'|add:country_flag %}" class="img-rounded" alt="flag" style="width:20px;height:20px;">
                                    {% endif %}
                                </span>

                            </div>
                        </article>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <div class="media-section">
      <div class="media">
        <div class="media-body">
            <div class="column is-offset-3 is-7">
                <legend class="border-bottom mb-3" >{{ user.first_name }} {{ user.last_name }}</legend>
            <p>Username: {{ user.username }} </p>
            <p>Email: {{ user.email }}</p><br>

            </div>
        </div>
      </div>


      <div class="column is-offset-3 is-7">
      <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-3">Profile Info</legend>
            {{ u_form.media }}
            {{ p_form.media }}

            {{ u_form|crispy }}
            {{ p_form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Update</button>

            <small class="text-muted">
                <a href="{% url 'change_password' %}">Change password</a>
            </small>

        </div>
      </form>
      </div>

    </div>
{% endblock content %}
